<footer class="footer">
	<small>
		<p>Questions about MSWYL?    <a href="mailto:davidandnancy.grant@mountainschool.org">Talk to the organizers</a></p>
		<p>Issues with the website?    <a href="mailto:simon.taranto@gmail.com">Send an email</a></p>
	</small>
	<h2>
		<%= link_to "Home",		root_path %>
		 &nbsp&nbsp<a href="http://www.mountainschool.org/alumni" target="_blank">Find other alumni in the TMS Alumni Directory</a> 
	</h2>
	<%= image_tag("TMSLogo.png", :alt => "TMS Logo") %>
</footer>