<footer class="footer">
	<small>
		<p>Questions about MSWYL?<a href="mailto:davidandnancy.grant@mountainschool.org">  Talk to the organizers</a></p>
		<p>Issues with the website?<a href="mailto:simon.taranto@gmail.com">  Send an email</a></p>
	</small>
	<h2><%= link_to "Home",		root_path %></h2>
	<%= image_tag("TMSLogo.png", :alt => "TMS Logo") %>
	<!-- for gmaps4rails, not sure if required here... -->
</footer>