
<div class="navbar navbar-fixed-bottom footer">
	<div class="navbar-inner">
		<div class="container">
		  <ul class="nav pull-left">
		  	<li></li>
		  </ul> 
		  <ul class="nav pull-right">
		  	<li><a href="https://www.mountainschool.org/podium/default.aspx?t=1300" target="_blank">Alumni Directory</a>
		    <li><a href="https://www.facebook.com/pages/The-Mountain-School-of-Milton-Academy/252084468164123" target="_blank">Facebook</a>
		    <li><a href="http://www.linkedin.com/groups?gid=150431&trk=group-name" target="_blank">LinkedIn</a>
		    <li><a href="https://twitter.com/MountainSchool" target="_blank">Twitter</a>
		    <li><%= link_to "Admin", new_user_session_path %></li>
		    <% if can? :create, @event %>
	  		  <li><%= render 'devise/menu/login_items' %></li>
	        <% end %>
		  </ul>
		</div>
	</div>
</div>