<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active brand">
          <%= link_to "MSWYL", root_path %>
        </li>
        <li><a href="mailto:davidandnancy.grant@mountainschool.org">Questions?</a></li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <a href="https://www.mountainschool.org/podium/default.aspx", target="_blank"><%= image_tag("/images/TMS_Logo.png", :height => '49.6', :width => '110.4', :alt => "TMS Alumni Site") %></a>
        </li>
      </ul>
    </div>
  </div>
</div>